* {
  margin: 0%;
  padding: 0%;
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.homepage {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: radial-gradient(
    103.91% 192.47% at 97.33% 0%,
    #ffedb6 0%,
    #cf93ff 70.31%,
    #bfa8ff 100%
  );
}

.camera-img {
  background: transparent;
  padding-top: 1%;
  width: 50vw;
  height: 80%;
  mix-blend-mode: multiply;
}

.search {
  position: absolute;
  background: #f7f8f9;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  font-weight: 600;
  color: black;
  width: 30vw;
  height: 8vh;
  left: 59%;
  top: 30%;
}

.announcement {
  position: absolute;
  font-size: 1.5vw;
  width: 40vw;
  height: 20vw;
  left: 53%;
  top: 47%;
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  text-align: center;
  padding: 1%;
  overflow-y: scroll;
}

.databody {
  display: flex;
}

.megaphoneicon {
  width: 1.3vw;
  height: 1.5vw;
  margin-left: 2%;
}

@media (max-width: 800px) and (min-width: 600px) {
  .announcement {
    min-height: 25vw;
  }
}


@media (max-width: 600px) {
  .announcement {
    min-height: 35vw;
  }
}

.para {
  color: black;
  padding-top: 5%;
  font-size: 1.1vw;
  text-align: left;
  margin-top: 1%;
  padding-bottom: 1.5%;
  font-weight: 600;
}

.databody {
  padding: 2%;
  border-bottom: 2px solid #FFFFFF;
}