{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/landing.css' %}>
    <title>Login</title>
</head>

<body>
    <div class="landingpage">
        <img src={% static 'images/SailLogo.svg' %} alt="" class="saillogo-img" />
        <div class="landing-intro">
            <h1 class="landing-heading">YEAR BOOK</h1>
            <hr class="landing-border" />
            <h4>#LET'S WRITE MEMORIES</h4>
            <a href="">
                <button class="loginbtn">Login</button>
            </a>
        </div>
    </div>

</body>

</html>